$primary: #531466;
$danger: #b92e2e;
$info: #46cbe2;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(148, 150, 147);
}
