{% extends 'base.html.twig' %}

{% block title %}Salut {{ prenom }}{% endblock %}

{% block body %}
    <h3>Salut {{ prenom }} </h3>
{% endblock %}

{% block piedpage %} <h3>Footer de la page salut !</h3> {% endblock %}
